@{
    ViewBag.Title = "Check email";
    Layout = "~/Views/Shared/_LayoutClean.cshtml";
}

<h2>@ViewBag.Title</h2>
<p>
    Your password has been reset. Please <a asp-action="Login" asp-controller="Auth">click here to log in</a>.
</p>